@font-face{
    font-family: 'Comic Sans MS';
    src: url(Comic Sans MS);
}
header {
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: rgb(255, 0, 157);
}

header h1{
    font-family: 'Comic Sans MS';
    color: white;
    display: block;
    float: left;
    width: 200px;
    margin-top: 30px;
    margin-left: 45%;

}

article {
    width: 70%;
    height: 600px;
    display: block;
    float: left;
    background-color: rgb(59, 55, 55);
}

aside {
    width: 30%;
    height: 600px;
    display: block;
    float: left;
    background-color: rgb(126, 126, 126);
}
footer {
    width: 100%;
    height: 70px;
    display: block;
    float: left;
    background-color: rgb(10, 10, 10);
}
article section h1{
    font-size: 60px;
    font-family: 'Comic Sans MS';
    margin-left: 10%;
}
article section ul{
    font-size: 15px;
    font-family: 'Comic Sans MS';
    margin-left: 10%;
    color: white;
}